{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": ["airbnb", "prettier"],
	"plugins": ["react", "prettier"],

	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},

	"rules": {
		"react/sort-comp": 0,
		"react/jsx-props-no-spreading": 0,
		"import/prefer-default-export": 0,
		"no-shadow": 0,
		"react/prop-types": 0,
		"no-param-reassign": ["error", {"props": false}],
		"jsx-a11y/click-events-have-key-events": 0,
		"react/react-in-jsx-scope": "off",
		"react/function-component-definition": "off",
		"react/no-array-index-key": "off",
		"import/no-extraneous-dependencies": "off",
		"react/no-unstable-nested-components": "off",
		"no-alert": "off",
		"no-restricted-globals": "off",
		"react/jsx-no-constructed-context-values": "off"
	}
}
